.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 209px;
    background-color: black;
    color: white;

    .logoFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 62px;
        height: 39.44px;
        color: white;

        @include respond-to('tablet') {
            padding-top: 64px;
        }

        @include respond-to('desktop') {
            padding-top: 66px;
        }


        p {
            padding-top: 5%;
            margin: 0;
            font-weight: 500;
            font-size: $small-font-size;
            padding-bottom: 62px;

            @include respond-to('tablet') {
                font-size: calc($small-font-size + 0.390625vw);
                padding-bottom: 40px;
            }

            @include respond-to('desktop') {
                font-size: $medium-font-size;
                padding-bottom: 29px;
            }
        }
    }
}