header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5%;

  .logo {
    width: 40%;
    flex: 40%;

    img {
      height: 47px;
      @include respond-to('mini') {
        max-height: 30px;
      }
      @include respond-to('tablet') {
        max-height: 100%;
      }
    }
  }
}

.navigation {
  flex: 60%;
  text-align: right;
  justify-content: center;

  a {
    column-gap: 5px;
    text-decoration: none;
    text-align: right;
    vertical-align: middle;

    color: $main-color;
    white-space: nowrap;

    font-weight: 500;

    font-size: $small-font-size;
    text-transform: uppercase;


    @include respond-to('tablet') {
      padding-top: 18px;

      font-size: $medium-font-size;
      text-transform: none;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}