// logo du header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5%;

.logo{
  width: 40%;
  flex: 40%;
}

}
// navigation du header
.navigation{
  flex: 60%;
  text-align: right;
  justify-content: center;
  
a{
  column-gap: 5px;
  text-decoration: none;
  text-align: right;
  vertical-align: middle;

  color: $main-color;
  white-space: nowrap;

  font-weight: 500;

  font-size: $small-font-size;
  text-transform: uppercase;


    @include respond-to('tablet') {
        padding-top: 18px;
    }
    @include respond-to('desktop') {
      font-size: $medium-font-size;
      text-transform: none;
    }

 
}
a:hover{
    text-decoration: underline;
}
}