.loading {
  display:block;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: #FF6060;
  background: -moz-linear-gradient(top,
      #F6F6F6 0%,
      #FF6060 100%);
  background: -webkit-linear-gradient(top,
      #F6F6F6 0%,
      #FF6060 100%);
  background: linear-gradient(to bottom,
      #F6F6F6 0%,
      #FF6060 100%);

  opacity: 0.8;
  animation: hideLoader 3500ms 1 forwards;
  animation-delay: 1500ms;
}

.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 50px;
  border: white solid 5px;
  border-top-color: #FF6060;
  border-bottom-color: #FF6060;
  border-radius: 50%;
  animation: spin 1s linear infinite;

}

@keyframes hideLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}