// navigation du header
.navigation{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

}
a{
    display: flex;
    margin: 1%;
    margin-right: 1%;
    height: 34px;
    width: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $main-color;
}
a:hover{
    text-decoration: underline;
}

// 
@media screen and (max-width:426px){
    .navigation{
      height: 50px;
      align-items: center;
      margin-top: 15px;
        a {
        margin: 1%;
        height: 34px;
        width: 75px;
        font-size: 12px;
        }
    }
}