.banner {
  width: 100%;
  position: relative;
  border-radius: 10px;

  display: flex;
  align-items: center;

  @include respond-to('tablet') {
    justify-content: center;
  }

  @include respond-to('desktop') {
    justify-content: center;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;

    border-radius: 2.5vw;
  }

  h2 {
    position: absolute;
    z-index: 1;
    font-weight: 500;

    color: white;

    display: flex;
    justify-content: center;

    text-align: left;
    padding-left: 5%;

    min-height: 48px;
    max-width: 217px;

    font-size: 24px;
    text-transform: none;


    @include respond-to('tablet') {

      max-height: 68px;
      max-width: 705px;
      font-size: 36px;
    }

    @include respond-to('desktop') {
      font-size: 48px;
    }

  }

  img {
    object-fit: cover;
    background-position: bottom center;

    border-radius: 2.5vw;

    width: 100%;
    height: 100%;

  }
}