.collapse {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      $delay: 120ms * $i;
      animation: show-up 600ms $delay both;
      transform-origin: center;
    }
  }

  &__button {
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    font-size: 24px;
    padding-left: 24px;
    position: relative;
    z-index: 1;
  }

  &__arrow {
    align-content: center;
    margin-top: 1rem;
    margin-right: 1rem;
    
    pointer-events: none;
    transform: rotate(180deg);
    transition: transform 300ms;
  
  }

  &__content {
    color: $main-color;
    background-color: $background-grey;
    border-radius: 5px;
    margin-top: -5px;
    z-index: -1;
    max-height: 0;
    transition: max-height 250ms ease-out, padding 300ms ease-out;
    overflow: hidden;
    padding-left: 24px;
  }
  &__text {
    margin: 0;
    font-size: $small-font-size;

  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $small-font-size

  }
  &__list-element {
    margin-bottom: 3px;
  }
}
.rotate {
  transform: rotate(360deg);
}
.show {
  max-height: 500px;
  padding: 24px 24px 12px 24px;
  transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
}

@keyframes show-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
