  .single {
    margin: 0 5%;
    color: $main-color;
    font-size: $medium-font-size;

    &__content {
        margin-top: 20px;
        font-size: $medium-font-size;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    
      }
      &__title {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
  
      }
      &__location {
        margin: 14px 0;
        font-size: 14px;
        font-weight: 500;

      }
      &__tags {
        margin: 18px 0;
        display: flex;
        flex-wrap: wrap;
     
      }
      &__rating-and-host {
        font-size: $medium-font-size;
        gap : 50px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
      }
 
    
#single {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

 .collapse{
  justify-content:center;
  width: 335px;
}
}
}