.about {
  padding: 0 5%;
  background-color: $main-background;
  color: $main-color;


  display: flex;
  flex-direction: column;
  align-content: center;

  margin-bottom: 70px;

  .banner {
    height: 223px;
    margin-bottom: 20px;

    #about {
      min-width: 335px;

      @include respond-to('tablet') {
        max-width: 1200px;
      }

    }
  }
}