// les couleurs
$main-color:#FF6060;
$background-color:#E5E5E5;
$main-background:#FFFFFF;
$background-grey: #F6F6F6;

//les tailles
$small-font-size: 1rem;
$medium-font-size : 1.2rem;
$large-font-size : 1.8rem;